/*Tamanho padrão para tablets*/
@media only screen and (max-width: 768px){
	header .header-black ul{
		display: none;
	}
}

/*Tamanho padrão para Smartphones*/
@media only screen and (max-width: 480px){
	header .header-black ul , #menu{
		display: none;
	}

	#logotipo{
		left: 32%;
		z-index: 10!important;
		transition: 1s;
	}

	header.open-menu #logotipo{
		transform: rotate(360deg);
	}

	#btn-bars, #btn-search {
		color: #fff;
		font-size: 22px;
		position: absolute;
		top: 4px;
		background: none;
		border: none;
		display: block;

	}
	#btn-bars {
		left: 4px;

	}
	#btn-search {
		right: 4px;
	}

	#banner{
		height: 317px;
		background-size: cover;
		background-position: 0;
		text-align: center;
	}
	#banner h1{
		top: 180px;
		font-size: 48px;
		margin-left: 10px;
	}
	#banner h1 small {
		
		font-size: 22px;
		
	}
	#news {
	    margin-left: -5px;
	}

	#news h2{
		font-size: 32px;
		top: -110px;
	}
	#news .thumbnails h3 {
		font-size: 17px;
		margin-top: 18px;
	}
	#news hr{
		border-width: 2px;

	}
	#news .thumbnails {
    	margin-top: -100px;
	}

	.owl-carousel .owl-stage-outer {
	    position: relative;
	    overflow: hidden;
	    margin-left: 15px;
	}

	.thumbnails {
    	text-align: center;
	}
	#news .thumbnails .item-inner img{
		width: 80%;
		margin-left: 33px;
	}
	
	#btn-news-prev, #btn-news-next{
		display: block;
		background: none;
		border: none;
		color: #5E2699;
		font-size: 48px;
		position: absolute;
		top: -9px;
		z-index: 9;
		outline: 0;
	}
	#btn-news-next{
		right: 10px;
	}

	.owl-theme .owl-nav {
	    display: none;
	}
	
	.owl-theme .owl-dots, .owl-theme .owl-nav {
	    margin-top: 4px;
	    margin-left: 30px;
	}

	#estatisticas {	    
	    height: inherit;	    
	}

	#call-to-action {
    
	    margin-top: 33px;
	}

	#call-to-action h2 {
	    margin-top: 40px;
	    font-size: 36px;
	    margin-left: 15px;
	    margin-right: 15px;
	    
	}

	#call-to-action p {
	    
	    font-size: 15px;
	    margin-left: 15px;
	    margin-right: 15px;
	}

	#call-to-action .btn-amarelo {
	    
	    margin-top: -44px;
	    margin-left: -5px;

	    
	}

	#call-to-action .btn-roxo {
	    
	    margin-left: 162px;
	    margin-left: 170px;
	}
	
	footer {
	    margin-top: 60px;
	}

	.copyright-mobile p{
		font-size: 10px;
		line-height: 0;
	}
	.copyright-mobile .text-left{
		float: inherit !important;
	}
	.copyright-mobile .text-roxo{
		margin-top: 33px;
	}

	footer .row p {
		margin-top: 5px;
		line-height: 20px;
		text-align: center;
	}
	footer .row{
		margin: 0;
	}
	
	footer .list-socials {
		
		position: absolute;
		width: 100%;
		left: 24px;
		top: 50px;
	}
	footer .list-socials a{
		width: 45px;
		height: 45px;
		border-radius: 50%;

		
	}
	footer .list-socials i{
		font-size: 31px;
    	margin-top: 6px; 
	}

	footer .col-md-10 {
		padding: 0;
	}
	footer .row-cinza-claro {
	    height: 157px;
	    
	}
	
	footer .row-fluid {
	    display: -webkit-box;
	}
	footer .btn-footer{
		width: 100%;
		background-color: #11171D;
		height: 44px;
		line-height: 35px;
	}

	footer .col-6 {
		padding: 0;
		padding-right: 5px;
	}

	footer .col-6:last-child {
		padding-right: 0px;
		padding-left: 5px;
	}

	footer .hidden-sm-up{
		margin-top: -10px;
	}

	
	header .header-black{
	    position: fixed;
		top: 0;
		width: 100%;
		z-index: 9;
	}

	#page-up {
	    display: inline-block;	    
	}

	header #menu-mobile{

		left: -80%;
		position: fixed;
		top: 40px;
		background-color: #fff;
		width: 80%;
		transition: 1s;
		height: 100%;
		z-index: 5;
	}

	header.open-menu #menu-mobile{
	    left: 0px;
	}

	header.open-menu #menu-mobile-mask{
	    position: fixed;
	    width: 100%;
	    height: 100%;
	    background-color: rgba(0,0,0,.5);
	    top: 0px;
	    left: 0px;
	    z-index: 4;
	}

	header.open-menu #logotipo{
		position: fixed;
		top: 50px;
		height: 76px;
		left: calc(40% - 33px);
	}

	header #menu-mobile ul{
	    margin: 20px;
	    margin-top: 100px;
	}


	header #menu-mobile li{
	    text-align:  center;
	    border-top: #CCC 1px solid;
	    
	}

	header #menu-mobile li:last-child{
	    
	    border-bottom: #CCC 1px solid;
	}

	header #menu-mobile li a{
	    color: #633392;
	    font-family: 'OpenSans';
	    font-weight: bold;
	    font-size: 16px;
	    padding: 18px;
	    display: block;
	}

	header .bar-close{
		position: absolute;
		bottom: 40px;
		background-color: #633492;
		height: 40px;
		width: 100%;
	}

	header .bar-close .btn-close{
		background: none;
		border: none;
		color: #FFF;
		font-size: 22px;
	}
	header #input-search-mobile {
		transition: 1s;
		top: -40px;
		position: fixed;
		width: 70%;
		left: 15%;
		background-color: #000;
		border: none;
		height: 40px;
		color: #FFF;
		outline: 0;
	}

	header.open-search #input-search-mobile {
		top: 0;
		
	}

	header.open-search #logotipo{
		z-index: 9 !important;
	}


}